@import '../../../../styles/variables.scss';

.btn{
    cursor: pointer;
    margin-top: 8px;

    display: flex;
    justify-content: space-between;

    width: 338px;
    height: 44px;
    padding: 10px 16px 10px 16px;
    
    border-radius: 5px;
    border: #9159BE solid 1px;

    font-size: 16px;
    font-family: $inter-regular;
    font-weight: 400;
    
    color: white;
    background-color: $btn-color;
    transition: background-color 0.3s;

    &:hover{
        background-color: $btnHover-color;
        border: #AB69E2 solid 1px;
    }
}

.select{
    appearance: none;
    width: 29px;
    height: 22px;
    padding: 4px 10px 4px 10px;
    border-radius: 4px;
}

.selectedBtn{
    background-color: $btnSelected-color;
    border: #D77400 solid 1px;
    &:hover{
        background-color: $btnSelected-color;
        border: #D77400 solid 1px;
    }
}