@import '../../styles/variables.scss';

.container{
    display: grid;
    grid-template-areas: 
        'h1Module'
        'template'
    ;
    
}

.headingModule{
    grid-area: h1Module;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}


.template{
    grid-area: template;
}