@import '../../styles/variables.scss';

.container{
    display: grid;
    grid-template-areas: 
        'cube'
        'form'
    ;
    grid-template-rows: 180px 312px;
    width: 338px;
    height: 492px;
}

.cubeModule{
    grid-area: cube;
}

.formModule{
    grid-area: form;
}