@import '../../../styles/variables.scss';

.container{
    display: grid;
    grid-template-areas: 
        'select'
        'betVariant'
        'submit'
    ;
}

.select{
    grid-area: select;
}

.betVariant{
    grid-area: betVariant;
    margin-top: 16px;
}

.submit{
    grid-area: submit;
}